In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv(r"C:\Users\Dell\Downloads\crop_production.csv")
dataset

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [3]:
dataset["State_Name"].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [4]:
dataset["District_Name"].unique()

array(['NICOBARS', 'NORTH AND MIDDLE ANDAMAN', 'SOUTH ANDAMANS',
       'ANANTAPUR', 'CHITTOOR', 'EAST GODAVARI', 'GUNTUR', 'KADAPA',
       'KRISHNA', 'KURNOOL', 'PRAKASAM', 'SPSR NELLORE', 'SRIKAKULAM',
       'VISAKHAPATANAM', 'VIZIANAGARAM', 'WEST GODAVARI', 'ANJAW',
       'CHANGLANG', 'DIBANG VALLEY', 'EAST KAMENG', 'EAST SIANG',
       'KURUNG KUMEY', 'LOHIT', 'LONGDING', 'LOWER DIBANG VALLEY',
       'LOWER SUBANSIRI', 'NAMSAI', 'PAPUM PARE', 'TAWANG', 'TIRAP',
       'UPPER SIANG', 'UPPER SUBANSIRI', 'WEST KAMENG', 'WEST SIANG',
       'BAKSA', 'BARPETA', 'BONGAIGAON', 'CACHAR', 'CHIRANG', 'DARRANG',
       'DHEMAJI', 'DHUBRI', 'DIBRUGARH', 'DIMA HASAO', 'GOALPARA',
       'GOLAGHAT', 'HAILAKANDI', 'JORHAT', 'KAMRUP', 'KAMRUP METRO',
       'KARBI ANGLONG', 'KARIMGANJ', 'KOKRAJHAR', 'LAKHIMPUR', 'MARIGAON',
       'NAGAON', 'NALBARI', 'SIVASAGAR', 'SONITPUR', 'TINSUKIA',
       'UDALGURI', 'ARARIA', 'ARWAL', 'AURANGABAD', 'BANKA', 'BEGUSARAI',
       'BHAGALPUR', 'BHOJPUR', 'BUXAR', 'DARBHANGA', 'GAYA', 'GOPALGANJ',
       'JAMUI', 'JEHANABAD', 'KAIMUR (BHABUA)', 'KATIHAR', 'KHAGARIA',
       'KISHANGANJ', 'LAKHISARAI', 'MADHEPURA', 'MADHUBANI', 'MUNGER',
       'MUZAFFARPUR', 'NALANDA', 'NAWADA', 'PASHCHIM CHAMPARAN', 'PATNA',
       'PURBI CHAMPARAN', 'PURNIA', 'ROHTAS', 'SAHARSA', 'SAMASTIPUR',
       'SARAN', 'SHEIKHPURA', 'SHEOHAR', 'SITAMARHI', 'SIWAN', 'SUPAUL',
       'VAISHALI', 'CHANDIGARH', 'BALOD', 'BALODA BAZAR', 'BALRAMPUR',
       'BASTAR', 'BEMETARA', 'BIJAPUR', 'BILASPUR', 'DANTEWADA',
       'DHAMTARI', 'DURG', 'GARIYABAND', 'JANJGIR-CHAMPA', 'JASHPUR',
       'KABIRDHAM', 'KANKER', 'KONDAGAON', 'KORBA', 'KOREA', 'MAHASAMUND',
       'MUNGELI', 'NARAYANPUR', 'RAIGARH', 'RAIPUR', 'RAJNANDGAON',
       'SUKMA', 'SURAJPUR', 'SURGUJA', 'DADRA AND NAGAR HAVELI',
       'NORTH GOA', 'SOUTH GOA', 'AHMADABAD', 'AMRELI', 'ANAND',
       'BANAS KANTHA', 'BHARUCH', 'BHAVNAGAR', 'DANG', 'DOHAD',
       'GANDHINAGAR', 'JAMNAGAR', 'JUNAGADH', 'KACHCHH', 'KHEDA',
       'MAHESANA', 'NARMADA', 'NAVSARI', 'PANCH MAHALS', 'PATAN',
       'PORBANDAR', 'RAJKOT', 'SABAR KANTHA', 'SURAT', 'SURENDRANAGAR',
       'TAPI', 'VADODARA', 'VALSAD', 'AMBALA', 'BHIWANI', 'FARIDABAD',
       'FATEHABAD', 'GURGAON', 'HISAR', 'JHAJJAR', 'JIND', 'KAITHAL',
       'KARNAL', 'KURUKSHETRA', 'MAHENDRAGARH', 'MEWAT', 'PALWAL',
       'PANCHKULA', 'PANIPAT', 'REWARI', 'ROHTAK', 'SIRSA', 'SONIPAT',
       'YAMUNANAGAR', 'CHAMBA', 'HAMIRPUR', 'KANGRA', 'KINNAUR', 'KULLU',
       'LAHUL AND SPITI', 'MANDI', 'SHIMLA', 'SIRMAUR', 'SOLAN', 'UNA',
       'ANANTNAG', 'BADGAM', 'BANDIPORA', 'BARAMULLA', 'DODA',
       'GANDERBAL', 'JAMMU', 'KARGIL', 'KATHUA', 'KISHTWAR', 'KULGAM',
       'KUPWARA', 'LEH LADAKH', 'POONCH', 'PULWAMA', 'RAJAURI', 'RAMBAN',
       'REASI', 'SAMBA', 'SHOPIAN', 'SRINAGAR', 'UDHAMPUR', 'BOKARO',
       'CHATRA', 'DEOGHAR', 'DHANBAD', 'DUMKA', 'EAST SINGHBUM', 'GARHWA',
       'GIRIDIH', 'GODDA', 'GUMLA', 'HAZARIBAGH', 'JAMTARA', 'KHUNTI',
       'KODERMA', 'LATEHAR', 'LOHARDAGA', 'PAKUR', 'PALAMU', 'RAMGARH',
       'RANCHI', 'SAHEBGANJ', 'SARAIKELA KHARSAWAN', 'SIMDEGA',
       'WEST SINGHBHUM', 'BAGALKOT', 'BANGALORE RURAL', 'BELGAUM',
       'BELLARY', 'BENGALURU URBAN', 'BIDAR', 'CHAMARAJANAGAR',
       'CHIKBALLAPUR', 'CHIKMAGALUR', 'CHITRADURGA', 'DAKSHIN KANNAD',
       'DAVANGERE', 'DHARWAD', 'GADAG', 'GULBARGA', 'HASSAN', 'HAVERI',
       'KODAGU', 'KOLAR', 'KOPPAL', 'MANDYA', 'MYSORE', 'RAICHUR',
       'RAMANAGARA', 'SHIMOGA', 'TUMKUR', 'UDUPI', 'UTTAR KANNAD',
       'YADGIR', 'ALAPPUZHA', 'ERNAKULAM', 'IDUKKI', 'KANNUR',
       'KASARAGOD', 'KOLLAM', 'KOTTAYAM', 'KOZHIKODE', 'MALAPPURAM',
       'PALAKKAD', 'PATHANAMTHITTA', 'THIRUVANANTHAPURAM', 'THRISSUR',
       'WAYANAD', 'AGAR MALWA', 'ALIRAJPUR', 'ANUPPUR', 'ASHOKNAGAR',
       'BALAGHAT', 'BARWANI', 'BETUL', 'BHIND', 'BHOPAL', 'BURHANPUR',
       'CHHATARPUR', 'CHHINDWARA', 'DAMOH', 'DATIA', 'DEWAS', 'DHAR',
       'DINDORI', 'GUNA', 'GWALIOR', 'HARDA', 'HOSHANGABAD', 'INDORE',
       'JABALPUR', 'JHABUA', 'KATNI', 'KHANDWA', 'KHARGONE', 'MANDLA',
       'MANDSAUR', 'MORENA', 'NARSINGHPUR', 'NEEMUCH', 'PANNA', 'RAISEN',
       'RAJGARH', 'RATLAM', 'REWA', 'SAGAR', 'SATNA', 'SEHORE', 'SEONI',
       'SHAHDOL', 'SHAJAPUR', 'SHEOPUR', 'SHIVPURI', 'SIDHI', 'SINGRAULI',
       'TIKAMGARH', 'UJJAIN', 'UMARIA', 'VIDISHA', 'AHMEDNAGAR', 'AKOLA',
       'AMRAVATI', 'BEED', 'BHANDARA', 'BULDHANA', 'CHANDRAPUR', 'DHULE',
       'GADCHIROLI', 'GONDIA', 'HINGOLI', 'JALGAON', 'JALNA', 'KOLHAPUR',
       'LATUR', 'MUMBAI', 'NAGPUR', 'NANDED', 'NANDURBAR', 'NASHIK',
       'OSMANABAD', 'PALGHAR', 'PARBHANI', 'PUNE', 'RAIGAD', 'RATNAGIRI',
       'SANGLI', 'SATARA', 'SINDHUDURG', 'SOLAPUR', 'THANE', 'WARDHA',
       'WASHIM', 'YAVATMAL', 'BISHNUPUR', 'CHANDEL', 'CHURACHANDPUR',
       'IMPHAL EAST', 'IMPHAL WEST', 'SENAPATI', 'TAMENGLONG', 'THOUBAL',
       'UKHRUL', 'EAST GARO HILLS', 'EAST JAINTIA HILLS',
       'EAST KHASI HILLS', 'NORTH GARO HILLS', 'RI BHOI',
       'SOUTH GARO HILLS', 'SOUTH WEST GARO HILLS',
       'SOUTH WEST KHASI HILLS', 'WEST GARO HILLS', 'WEST JAINTIA HILLS',
       'WEST KHASI HILLS', 'AIZAWL', 'CHAMPHAI', 'KOLASIB', 'LAWNGTLAI',
       'LUNGLEI', 'MAMIT', 'SAIHA', 'SERCHHIP', 'DIMAPUR', 'KIPHIRE',
       'KOHIMA', 'LONGLENG', 'MOKOKCHUNG', 'MON', 'PEREN', 'PHEK',
       'TUENSANG', 'WOKHA', 'ZUNHEBOTO', 'ANUGUL', 'BALANGIR',
       'BALESHWAR', 'BARGARH', 'BHADRAK', 'BOUDH', 'CUTTACK', 'DEOGARH',
       'DHENKANAL', 'GAJAPATI', 'GANJAM', 'JAGATSINGHAPUR', 'JAJAPUR',
       'JHARSUGUDA', 'KALAHANDI', 'KANDHAMAL', 'KENDRAPARA', 'KENDUJHAR',
       'KHORDHA', 'KORAPUT', 'MALKANGIRI', 'MAYURBHANJ', 'NABARANGPUR',
       'NAYAGARH', 'NUAPADA', 'PURI', 'RAYAGADA', 'SAMBALPUR', 'SONEPUR',
       'SUNDARGARH', 'KARAIKAL', 'MAHE', 'PONDICHERRY', 'YANAM',
       'AMRITSAR', 'BARNALA', 'BATHINDA', 'FARIDKOT', 'FATEHGARH SAHIB',
       'FAZILKA', 'FIROZEPUR', 'GURDASPUR', 'HOSHIARPUR', 'JALANDHAR',
       'KAPURTHALA', 'LUDHIANA', 'MANSA', 'MOGA', 'MUKTSAR', 'NAWANSHAHR',
       'PATHANKOT', 'PATIALA', 'RUPNAGAR', 'S.A.S NAGAR', 'SANGRUR',
       'TARN TARAN', 'AJMER', 'ALWAR', 'BANSWARA', 'BARAN', 'BARMER',
       'BHARATPUR', 'BHILWARA', 'BIKANER', 'BUNDI', 'CHITTORGARH',
       'CHURU', 'DAUSA', 'DHOLPUR', 'DUNGARPUR', 'GANGANAGAR',
       'HANUMANGARH', 'JAIPUR', 'JAISALMER', 'JALORE', 'JHALAWAR',
       'JHUNJHUNU', 'JODHPUR', 'KARAULI', 'KOTA', 'NAGAUR', 'PALI',
       'PRATAPGARH', 'RAJSAMAND', 'SAWAI MADHOPUR', 'SIKAR', 'SIROHI',
       'TONK', 'UDAIPUR', 'EAST DISTRICT', 'NORTH DISTRICT',
       'SOUTH DISTRICT', 'WEST DISTRICT', 'ARIYALUR', 'COIMBATORE',
       'CUDDALORE', 'DHARMAPURI', 'DINDIGUL', 'ERODE', 'KANCHIPURAM',
       'KANNIYAKUMARI', 'KARUR', 'KRISHNAGIRI', 'MADURAI', 'NAGAPATTINAM',
       'NAMAKKAL', 'PERAMBALUR', 'PUDUKKOTTAI', 'RAMANATHAPURAM', 'SALEM',
       'SIVAGANGA', 'THANJAVUR', 'THE NILGIRIS', 'THENI', 'THIRUVALLUR',
       'THIRUVARUR', 'TIRUCHIRAPPALLI', 'TIRUNELVELI', 'TIRUPPUR',
       'TIRUVANNAMALAI', 'TUTICORIN', 'VELLORE', 'VILLUPURAM',
       'VIRUDHUNAGAR', 'ADILABAD', 'HYDERABAD', 'KARIMNAGAR', 'KHAMMAM',
       'MAHBUBNAGAR', 'MEDAK', 'NALGONDA', 'NIZAMABAD', 'RANGAREDDI',
       'WARANGAL', 'DHALAI', 'GOMATI', 'KHOWAI', 'NORTH TRIPURA',
       'SEPAHIJALA', 'SOUTH TRIPURA', 'UNAKOTI', 'WEST TRIPURA', 'AGRA',
       'ALIGARH', 'ALLAHABAD', 'AMBEDKAR NAGAR', 'AMETHI', 'AMROHA',
       'AURAIYA', 'AZAMGARH', 'BAGHPAT', 'BAHRAICH', 'BALLIA', 'BANDA',
       'BARABANKI', 'BAREILLY', 'BASTI', 'BIJNOR', 'BUDAUN',
       'BULANDSHAHR', 'CHANDAULI', 'CHITRAKOOT', 'DEORIA', 'ETAH',
       'ETAWAH', 'FAIZABAD', 'FARRUKHABAD', 'FATEHPUR', 'FIROZABAD',
       'GAUTAM BUDDHA NAGAR', 'GHAZIABAD', 'GHAZIPUR', 'GONDA',
       'GORAKHPUR', 'HAPUR', 'HARDOI', 'HATHRAS', 'JALAUN', 'JAUNPUR',
       'JHANSI', 'KANNAUJ', 'KANPUR DEHAT', 'KANPUR NAGAR', 'KASGANJ',
       'KAUSHAMBI', 'KHERI', 'KUSHI NAGAR', 'LALITPUR', 'LUCKNOW',
       'MAHARAJGANJ', 'MAHOBA', 'MAINPURI', 'MATHURA', 'MAU', 'MEERUT',
       'MIRZAPUR', 'MORADABAD', 'MUZAFFARNAGAR', 'PILIBHIT', 'RAE BARELI',
       'RAMPUR', 'SAHARANPUR', 'SAMBHAL', 'SANT KABEER NAGAR',
       'SANT RAVIDAS NAGAR', 'SHAHJAHANPUR', 'SHAMLI', 'SHRAVASTI',
       'SIDDHARTH NAGAR', 'SITAPUR', 'SONBHADRA', 'SULTANPUR', 'UNNAO',
       'VARANASI', 'ALMORA', 'BAGESHWAR', 'CHAMOLI', 'CHAMPAWAT',
       'DEHRADUN', 'HARIDWAR', 'NAINITAL', 'PAURI GARHWAL', 'PITHORAGARH',
       'RUDRA PRAYAG', 'TEHRI GARHWAL', 'UDAM SINGH NAGAR', 'UTTAR KASHI',
       '24 PARAGANAS NORTH', '24 PARAGANAS SOUTH', 'BANKURA', 'BARDHAMAN',
       'BIRBHUM', 'COOCHBEHAR', 'DARJEELING', 'DINAJPUR DAKSHIN',
       'DINAJPUR UTTAR', 'HOOGHLY', 'HOWRAH', 'JALPAIGURI', 'MALDAH',
       'MEDINIPUR EAST', 'MEDINIPUR WEST', 'MURSHIDABAD', 'NADIA',
       'PURULIA'], dtype=object)

In [5]:
dataset["Crop_Year"].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2010, 1997, 1998, 1999,
       2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015], dtype=int64)

In [6]:
dataset["Season"].unique()

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [7]:
dataset["Crop"].unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut ', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Soyabean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus Fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'other fibres', 'Other Fresh Fruits', 'Other Vegetables',
       'Papaya', 'Pome Fruit', 'Tomato', 'Rapeseed &Mustard', 'Mesta',
       'Cowpea(Lobia)', 'Lemon', 'Pome Granet', 'Sapota', 'Cabbage',
       'Peas  (vegetable)', 'Niger seed', 'Bottle Gourd', 'Sannhamp',
       'Varagu', 'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total',
       'Jute', 'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Khesari', 'Guar seed', 'Moth',
       'Other Cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard',
       'Pump Kin', 'Tea', 'Coffee', 'Cauliflower', 'Other Citrus Fruit',
       'Water Melon', 'Total foodgrain', 'Kapas', 'Colocosia', 'Lentil',
       'Bean', 'Jobster', 'Perilla', 'Rajmash Kholar',
       'Ricebean (nagadal)', 'Ash Gourd', 'Beet Root', 'Lab-Lab',
       'Ribed Guard', 'Yam', 'Apple', 'Peach', 'Pear', 'Plums', 'Litchi',
       'Ber', 'Other Dry Fruit', 'Jute & mesta'], dtype=object)

In [8]:
dataset["Crop"].value_counts()

Rice                 15104
Maize                13947
Moong(Green Gram)    10318
Urad                  9850
Sesamum               9046
                     ...
Litchi                   6
Coffee                   6
Apple                    4
Peach                    4
Other Dry Fruit          1
Name: Crop, Length: 124, dtype: int64

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [37]:
from sklearn import preprocessing
lable_encoder = preprocessing.LabelEncoder()
dataset["State_Name"]= lable_encoder.fit_transform(dataset["State_Name"])
dataset["District_Name"]= lable_encoder.fit_transform(dataset["District_Name"])
dataset["Season"]= lable_encoder.fit_transform(dataset["Season"])
dataset["Crop"]= lable_encoder.fit_transform(dataset["Crop"])
dataset

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,427,2000,1,2,1254.0,2000.0
1,0,427,2000,1,74,2.0,1.0
2,0,427,2000,1,95,102.0,321.0
3,0,427,2000,4,7,176.0,641.0
4,0,427,2000,4,22,720.0,165.0
...,...,...,...,...,...,...,...
246086,32,471,2014,3,95,306.0,801.0
246087,32,471,2014,3,102,627.0,463.0
246088,32,471,2014,4,106,324.0,16250.0
246089,32,471,2014,5,95,279151.0,597899.0
246090,32,471,2014,5,102,175.0,88.0

In [38]:
dataset.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [48]:
a=dataset.dropna()
a

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,427,2000,1,2,1254.0,2000.0
1,0,427,2000,1,74,2.0,1.0
2,0,427,2000,1,95,102.0,321.0
3,0,427,2000,4,7,176.0,641.0
4,0,427,2000,4,22,720.0,165.0
...,...,...,...,...,...,...,...
246086,32,471,2014,3,95,306.0,801.0
246087,32,471,2014,3,102,627.0,463.0
246088,32,471,2014,4,106,324.0,16250.0
246089,32,471,2014,5,95,279151.0,597899.0
246090,32,471,2014,5,102,175.0,88.0

In [59]:
a=a.head(1000)
a

      State_Name  District_Name  Crop_Year  Season  Crop     Area  Production
0              0            427       2000       1     2   1254.0      2000.0
1              0            427       2000       1    74      2.0         1.0
2              0            427       2000       1    95    102.0       321.0
3              0            427       2000       4     7    176.0       641.0
4              0            427       2000       4    22    720.0       165.0
...          ...            ...        ...     ...   ...      ...         ...
1001           1            122       1997       1    95  42300.0     84400.0
1002           1            122       1997       1    99   1300.0       200.0
1003           1            122       1997       1   102    400.0       100.0
1004           1            122       1997       1   106  29600.0   2775100.0
1005           1            122       1997       1   107   1300.0       600.0

[1000 rows x 7 columns]

In [60]:
a.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [61]:
x=a.iloc[:,:-1].values
y=a.iloc[:,-1].values
y

array([2.000000e+03, 1.000000e+00, 3.210000e+02, 6.410000e+02,
       1.650000e+02, 6.510000e+07, 1.000000e+02, 2.000000e+00,
       1.500000e+01, 1.690000e+02, 2.061000e+03, 1.000000e+00,
       3.000000e+02, 1.920000e+02, 6.443000e+07, 1.000000e+02,
       1.000000e+00, 3.300000e+01, 5.108400e+02, 2.083000e+03,
       1.278000e+03, 1.350000e+01, 2.080000e+02, 6.749000e+07,
       2.880000e+01, 1.330000e+02, 4.000000e+01, 9.017000e+01,
       1.525000e+03, 1.763000e+03, 1.586000e+01, 2.085000e+02,
       6.858000e+07, 1.020000e+02, 3.264000e+02, 3.000000e-01,
       7.257000e+01, 8.058500e+02, 4.041200e+02, 1.586000e+01,
       1.979000e+02, 5.238000e+07, 1.452000e+02, 3.660000e+02,
       1.100000e-01, 1.206000e+01, 5.820000e+02, 1.000000e-01,
       5.580000e+01, 5.203000e+07, 7.000000e+01, 4.776000e+02,
       9.760000e+02, 6.800000e-01, 8.513000e+01, 5.937000e+07,
       9.000000e+00, 2.100000e+01, 5.000000e-01, 8.600000e+01,
       4.500000e+02, 1.030000e+00, 1.000000e+01, 4.175000e+01,
       1.610000e+03, 8.500000e+00, 2.605000e+02, 2.500000e+01,
       9.640000e+00, 1.822000e+01, 1.100000e+00, 2.080000e+02,
       5.000000e-01, 1.160000e+00, 3.425000e+03, 7.130000e+07,
       5.750000e+02, 5.200000e+03, 4.480000e+02, 3.186300e+04,
       1.207300e+04, 5.400000e+01, 2.390000e+07, 1.120000e+03,
       5.500000e+01, 3.736000e+03, 8.430000e+02, 2.108000e+03,
       5.239000e+03, 1.990000e+02, 2.703300e+04, 3.300000e+01,
       2.525000e+07, 1.124000e+03, 2.379000e+03, 5.000000e+00,
       1.899562e+04, 3.011700e+03, 8.582000e+03, 1.911400e+02,
       4.400000e+01, 1.540000e+07, 8.243000e+02, 9.290000e+02,
       2.140000e+01, 1.500000e+03, 2.400000e+02, 1.420000e+03,
       4.080000e+02, 2.011800e+04, 8.892000e+02, 2.290000e+03,
       9.080000e+01, 1.350000e+01, 3.900000e+01, 4.020000e+02,
       1.011840e+03, 6.800000e+00, 9.640000e+01, 5.565500e+02,
       1.900000e+00, 4.800000e+02, 3.765000e+02, 4.587900e+02,
       7.968000e+03, 1.270000e+07, 1.355000e+03, 3.160082e+04,
       5.267000e+03, 1.088200e+04, 1.025000e+02, 2.400000e+01,
       2.683000e+07, 2.090000e+01, 1.145000e+03, 4.031000e+01,
       1.376000e+04, 3.076070e+04, 5.182000e+03, 1.155800e+04,
       1.043700e+02, 2.614000e+01, 2.666000e+07, 5.780000e+02,
       1.299200e+03, 3.551000e+01, 2.879520e+03, 2.911966e+04,
       3.975200e+03, 1.737440e+04, 1.043600e+02, 2.510000e+01,
       3.475000e+07, 8.228000e+02, 1.462000e+03, 4.650000e+01,
       1.560000e+03, 2.587098e+04, 3.058460e+03, 1.025113e+04,
       3.595000e+01, 3.022000e+01, 2.643000e+07, 8.776000e+02,
       1.800000e+03, 3.420000e+01, 2.448200e+03, 7.003500e+02,
       1.480000e+03, 5.720000e+02, 2.539640e+03, 2.350000e+03,
       4.150000e+03, 2.018000e+01, 2.600000e+01, 1.419000e+07,
       3.470000e+01, 9.000000e+02, 1.498000e+01, 9.995000e+02,
       2.200000e+02, 1.600000e+02, 6.000000e+01, 3.788000e+03,
       4.020000e+02, 1.900000e+03, 1.320000e+01, 9.800000e+01,
       1.050000e+01, 1.480000e+02, 8.285200e+02, 7.600000e+00,
       2.530000e+02, 1.785000e+01, 5.000000e-01, 2.350000e+02,
       1.050000e+02, 1.505000e+01, 5.517000e+03, 1.100000e+07,
       2.200000e+02, 2.600000e+03, 5.000000e+02, 1.000000e+02,
       9.400000e+03, 7.100000e+03, 2.284000e+05, 1.000000e+03,
       1.020000e+04, 7.000000e+02, 4.900000e+03, 5.000000e+02,
       1.000000e+02, 1.180000e+04, 7.540000e+04, 7.290000e+04,
       1.110000e+04, 2.000000e+02, 1.000000e+02, 1.480000e+04,
       2.170000e+04, 2.000000e+02, 9.400000e+03, 1.000000e+02,
       2.400000e+03, 1.000000e+03, 3.730000e+04, 1.110000e+04,
       2.000000e+02, 9.100000e+03, 1.900000e+03, 1.000000e+03,
       1.290000e+04, 1.000000e+04, 8.678000e+05, 9.000000e+02,
       5.800000e+03, 3.400000e+03, 6.700000e+03, 1.300000e+03,
       3.000000e+02, 1.490000e+04, 9.680000e+04, 1.220000e+04,
       2.000000e+02, 2.590000e+04, 3.580000e+04, 5.000000e+02,
       2.210000e+04, 1.600000e+03, 1.200000e+03, 6.390000e+04,
       3.300000e+03, 2.000000e+02, 6.590000e+04, 1.000000e+02,
       8.890000e+02, 3.550000e+02, 1.051000e+04, 2.494570e+05,
       4.950000e+02, 1.458200e+04, 9.540000e+03, 3.861000e+03,
       1.098000e+03, 1.146700e+04, 1.050820e+05, 2.000000e+00,
       2.000000e+00, 5.400000e+01, 9.365000e+03, 2.535800e+04,
       3.270000e+02, 3.057600e+04, 1.000000e+00, 2.203000e+03,
       1.000000e+01, 1.000000e+00, 1.180000e+03, 4.566900e+04,
       1.450000e+02, 2.000000e+00, 2.940000e+02, 5.759000e+03,
       3.236400e+04, 8.312600e+04, 7.888000e+03, 1.449000e+03,
       2.831000e+03, 1.612800e+04, 1.014600e+04, 1.400000e+01,
       8.849630e+05, 2.150000e+02, 1.435100e+04, 1.143000e+03,
       9.049000e+03, 7.740000e+02, 1.547000e+04, 5.590000e+02,
       2.140000e+02, 1.692300e+04, 1.176800e+05, 5.000000e+00,
       1.000000e+00, 1.148000e+03, 2.459000e+04, 8.000000e+00,
       9.000000e+00, 1.850000e+02, 8.100000e+01, 2.268500e+04,
       2.383200e+04, 8.000000e+01, 1.698000e+04, 6.700000e+01,
       2.000000e+00, 2.148000e+03, 1.151400e+04, 1.312000e+03,
       5.723600e+04, 1.290000e+02, 6.700000e+01, 2.920000e+02,
       2.970000e+02, 6.960000e+02, 1.169300e+04, 3.896970e+06,
       2.266000e+03, 3.400000e+01, 2.539500e+04, 3.790000e+02,
       1.140000e+02, 2.720000e+02, 7.628000e+03, 5.260000e+02,
       9.000000e+02, 9.055000e+03, 7.127000e+03, 1.700000e+01,
       3.338280e+05, 6.000000e+01, 6.720000e+03, 6.270000e+02,
       7.129000e+03, 7.300000e+02, 1.923200e+04, 3.240000e+02,
       1.240500e+04, 9.560900e+04, 6.270000e+02, 3.358000e+04,
       1.760000e+02, 1.000000e+00, 9.000000e+00, 1.680000e+02,
       5.014500e+04, 2.919200e+04, 2.260000e+02, 1.744600e+04,
       1.000000e+00, 2.893000e+03, 1.200000e+01, 8.465000e+03,
       1.000000e+00, 7.250000e+02, 1.089060e+05, 5.280000e+02,
       1.000000e+00, 8.600000e+01, 2.130000e+02, 4.300000e+02,
       4.620000e+02, 3.053700e+06, 1.119000e+03, 4.247000e+04,
       4.110000e+02, 1.110000e+02, 4.000000e+01, 6.557000e+03,
       5.810000e+02, 4.160000e+02, 7.144000e+03, 6.128000e+03,
       2.599530e+05, 1.400000e+02, 4.545000e+03, 1.000000e+02,
       3.431000e+03, 1.740000e+02, 8.432000e+03, 4.700000e+01,
       1.214000e+04, 6.632900e+04, 1.800000e+02, 0.000000e+00,
       2.214900e+04, 2.000000e+00, 3.900000e+01, 1.610000e+02,
       2.018600e+04, 1.865100e+04, 6.880000e+02, 1.149700e+04,
       2.000000e+00, 8.933000e+03, 1.000000e+00, 7.192000e+03,
       5.170000e+02, 2.046200e+04, 3.400000e+02, 2.000000e+00,
       2.360000e+02, 3.330000e+02, 3.790000e+02, 1.006000e+03,
       5.000000e+00, 9.380000e+02, 1.016200e+04, 4.000000e+03,
       3.691149e+06, 4.810000e+02, 0.000000e+00, 2.075000e+03,
       2.617600e+04, 1.125410e+05, 0.000000e+00, 1.552000e+03,
       0.000000e+00, 2.014090e+05, 6.278900e+04, 1.700000e+01,
       2.248100e+04, 5.400000e+02, 9.000000e+01, 1.662700e+04,
       6.959000e+03, 3.780000e+02, 8.050000e+02, 4.262000e+03,
       1.070200e+04, 1.878620e+05, 5.400000e+01, 3.083000e+04,
       2.290000e+02, 1.071800e+04, 6.620000e+02, 1.325000e+04,
       1.500000e+01, 3.547000e+03, 4.489100e+04, 8.300000e+01,
       2.990000e+02, 1.800000e+01, 2.957200e+04, 5.100000e+01,
       1.900000e+01, 1.900000e+02, 1.543800e+04, 1.981900e+04,
       8.440000e+02, 1.944400e+04, 2.000000e+00, 6.787000e+03,
       7.000000e+00, 1.118000e+04, 3.000000e+00, 9.860000e+02,
       2.546300e+04, 1.100000e+01, 1.300000e+01, 1.230000e+02,
       1.890000e+02, 1.302000e+03, 8.730000e+02, 1.941400e+04,
       1.195900e+04, 3.285828e+06, 6.100000e+02, 0.000000e+00,
       2.048000e+03, 5.833700e+04, 2.246400e+05, 3.586000e+03,
       0.000000e+00, 6.003800e+04, 8.376700e+04, 3.238600e+04,
       2.170000e+02, 2.500000e+01, 1.750900e+04, 7.893000e+03,
       4.030000e+02, 9.230000e+02, 7.041000e+03, 1.128800e+04,
       6.845430e+05, 1.210000e+02, 5.693000e+03, 1.003100e+04,
       5.450000e+02, 2.482400e+04, 1.720000e+02, 5.860000e+03,
       8.505100e+04, 3.070000e+02, 6.910000e+02, 3.420900e+04,
       3.700000e+01, 2.400000e+01, 7.540000e+02, 9.516000e+03,
       2.173600e+04, 3.000000e+01, 1.426900e+04, 4.000000e+00,
       2.582200e+04, 1.000000e+00, 4.830000e+03, 8.970000e+02,
       2.162200e+04, 1.000000e+01, 1.700000e+01, 9.530000e+03,
       8.800000e+01, 1.689700e+04, 6.413350e+06, 2.900000e+02,
       2.000000e+01, 3.407200e+04, 6.800000e+01, 5.300000e+01,
       3.600000e+01, 2.370400e+04, 1.888000e+03, 1.521000e+03,
       3.450000e+03, 6.175000e+03, 3.622130e+05, 1.070000e+02,
       3.879000e+03, 2.153800e+04, 7.470000e+02, 1.702500e+04,
       3.010000e+02, 4.394000e+03, 6.997200e+04, 4.550000e+02,
       2.320000e+02, 2.400000e+01, 1.250000e+02, 2.140000e+02,
       4.817200e+04, 2.975200e+04, 7.700000e+01, 9.970000e+03,
       1.100000e+01, 1.072100e+04, 5.000000e+00, 9.063000e+03,
       7.520000e+02, 5.558700e+04, 3.300000e+01, 7.000000e+00,
       1.750000e+02, 2.140000e+02, 1.623100e+04, 3.358992e+06,
       9.000000e+02, 2.061200e+04, 8.401000e+03, 1.210000e+02,
       1.000000e+00, 1.500000e+01, 3.543000e+03, 1.890000e+02,
       4.510000e+02, 1.940000e+03, 5.658000e+03, 4.314800e+04,
       1.820000e+02, 7.813000e+03, 2.018100e+04, 9.800000e+01,
       9.423000e+03, 1.350000e+02, 3.696000e+03, 6.742700e+04,
       4.800000e+01, 2.600000e+01, 4.300000e+01, 3.700000e+01,
       3.073900e+04, 1.899100e+04, 8.820000e+02, 1.544000e+04,
       4.000000e+00, 2.364000e+04, 5.200000e+01, 4.075000e+03,
       5.320000e+02, 3.197400e+04, 2.800000e+01, 1.900000e+01,
       5.000000e+01, 1.500000e+02, 1.414100e+04, 6.404076e+06,
       3.850000e+02, 3.093700e+04, 2.356100e+04, 1.370000e+02,
       8.000000e+00, 1.700000e+04, 3.000000e+03, 1.000000e+03,
       2.000000e+03, 9.000000e+03, 1.102000e+06, 3.000000e+03,
       3.200000e+04, 3.800000e+04, 4.000000e+03, 9.500000e+04,
       1.000000e+04, 7.800000e+04, 2.800000e+04, 8.000000e+03,
       4.800000e+04, 3.700000e+04, 2.000000e+04, 1.315000e+04,
       1.011000e+03, 6.680000e+02, 1.241000e+03, 5.506000e+03,
       7.511500e+04, 1.650000e+02, 2.204000e+03, 2.089600e+04,
       2.450000e+02, 2.353100e+04, 3.000000e+01, 3.678000e+03,
       9.461500e+04, 8.800000e+01, 2.480000e+02, 3.500000e+01,
       6.837900e+04, 2.489700e+04, 1.360000e+02, 6.951000e+03,
       5.000000e+00, 3.230000e+04, 4.129000e+03, 6.300000e+02,
       4.981500e+04, 4.400000e+01, 2.170000e+02, 2.320000e+02,
       1.609390e+05, 7.141464e+06, 1.288000e+03, 1.230500e+04,
       2.630500e+04, 1.580000e+02, 4.000000e+01, 5.919000e+03,
       3.167000e+03, 6.630000e+02, 1.226000e+03, 4.031000e+03,
       1.139250e+05, 3.982000e+03, 2.588100e+04, 4.392400e+04,
       1.150000e+02, 2.981100e+04, 1.700000e+01, 3.780000e+03,
       1.015120e+05, 6.300000e+01, 2.000000e+01, 9.000000e+00,
       9.200000e+01, 8.300000e+01, 1.072480e+05, 2.805100e+04,
       3.420000e+03, 1.428300e+04, 3.373600e+04, 3.000000e+00,
       5.665000e+03, 2.458000e+03, 4.689900e+04, 2.000000e+01,
       1.300000e+01, 9.700000e+01, 1.690000e+02, 2.659810e+05,
       4.247685e+06, 1.797000e+03, 9.968000e+03, 3.350300e+04,
       7.700000e+01, 1.179000e+03, 1.115600e+04, 1.465000e+03,
       3.795000e+03, 2.977000e+03, 7.307000e+03, 4.469280e+05,
       3.170000e+02, 2.069000e+03, 5.117400e+04, 2.860000e+02,
       2.510000e+02, 2.692400e+04, 3.343000e+03, 1.020070e+05,
       3.450000e+02, 2.866000e+03, 6.000000e+00, 4.000000e+00,
       7.360100e+04, 3.406800e+04, 8.600000e+02, 8.296000e+03,
       4.330600e+04, 2.900000e+01, 8.233000e+03, 8.310000e+02,
       6.939400e+04, 3.100000e+01, 2.990000e+02, 1.710000e+02,
       1.820000e+02, 2.238250e+05, 3.604000e+03, 2.360000e+02,
       2.098100e+04, 1.407200e+04, 5.100000e+01, 2.820000e+02,
       1.020000e+02, 4.293000e+03, 3.307000e+03, 1.843000e+03,
       1.206900e+04, 1.500000e+02, 1.042500e+04, 1.746820e+05,
       6.450000e+02, 7.535000e+03, 6.346500e+04, 1.170000e+02,
       5.040000e+02, 3.956300e+04, 1.000000e+00, 1.007000e+03,
       2.679000e+03, 9.453100e+04, 7.140000e+02, 2.676000e+03,
       1.700000e+01, 1.000000e+00, 1.470000e+02, 1.200000e+01,
       8.300000e+01, 3.800800e+04, 3.269600e+04, 5.770000e+02,
       3.882000e+03, 4.816800e+04, 7.900000e+01, 4.259000e+03,
       3.421000e+03, 2.554200e+04, 6.300000e+01, 7.000000e+00,
       3.130000e+02, 1.000000e+02, 2.670000e+02, 5.051760e+05,
       7.165320e+06, 1.327000e+03, 1.810000e+02, 3.918600e+04,
       1.209400e+04, 2.600000e+01, 2.260000e+02, 2.645000e+03,
       3.020000e+02, 8.035000e+03, 1.456000e+03, 8.211000e+03,
       9.179000e+03, 1.000000e+00, 3.551100e+04, 3.600000e+01,
       5.603000e+03, 7.606000e+03, 2.955310e+05, 5.890000e+02,
       6.930000e+03, 3.752000e+03, 3.000000e+00, 6.351600e+04,
       5.760100e+04, 2.660000e+02, 2.539300e+04, 1.719700e+04,
       1.767100e+04, 2.336000e+03, 5.869100e+04, 4.187600e+04,
       1.613000e+03, 1.671000e+03, 6.954000e+03, 5.197000e+03,
       1.400000e+01, 3.856100e+04, 7.280000e+02, 2.900000e+01,
       1.300000e+01, 4.570000e+03, 8.800000e+01, 1.631000e+03,
       9.900000e+01, 7.400000e+01, 1.590000e+02, 7.730100e+04,
       3.441900e+04, 1.322000e+03, 3.141000e+03, 5.009800e+04,
       7.900000e+01, 1.195000e+03, 6.340000e+02, 1.227000e+03,
       1.776800e+04, 3.300000e+01, 1.800000e+01, 1.904000e+03,
       6.700000e+01, 1.780000e+02, 3.109600e+04, 1.560000e+02,
       1.510000e+02, 5.571000e+06, 1.860000e+02, 9.287000e+03,
       1.227000e+03, 8.624000e+03, 3.800000e+01, 3.000000e+00,
       5.366000e+03, 7.731600e+04, 2.530000e+02, 3.965000e+03,
       5.644000e+03, 2.865910e+05, 1.353000e+03, 9.749000e+03,
       2.003000e+03, 3.000000e+00, 5.322600e+04, 7.465300e+04,
       5.340000e+02, 3.109700e+04, 1.800000e+01, 9.431000e+03,
       2.241800e+04, 2.372200e+04, 3.163000e+03, 5.937700e+04,
       2.051700e+04, 8.560000e+02, 3.866000e+03, 2.650500e+04,
       6.698000e+03, 1.100000e+01, 8.862000e+04, 5.670000e+02,
       4.500000e+01, 1.600000e+01, 7.543000e+03, 2.070000e+02,
       1.500000e+01, 1.234000e+03, 1.270000e+02, 2.600000e+01,
       5.400000e+01, 6.861400e+04, 2.633500e+04, 1.416000e+03,
       3.137000e+03, 5.797000e+04, 8.100000e+01, 1.431700e+04,
       6.000000e+00, 1.462000e+03, 2.855800e+04, 4.100000e+01,
       1.000000e+01, 2.879000e+03, 9.000000e+00, 3.090000e+02,
       8.053200e+04, 3.000000e+00, 3.900000e+01, 4.838810e+05,
       3.000000e+00, 5.381000e+03, 3.969000e+06, 1.234000e+03,
       3.000000e+00, 1.179000e+03, 4.100000e+01, 9.000000e+00,
       3.900000e+01, 4.845000e+03, 1.028000e+03, 7.596000e+03,
       1.230000e+02, 7.000000e+00, 5.903000e+03, 8.400000e+01,
       1.037790e+05, 4.100000e+02, 1.184800e+04, 6.886000e+03,
       1.487140e+05, 1.658000e+03, 4.234000e+03, 3.618000e+03,
       4.268700e+04, 7.093900e+04, 1.060000e+02, 2.994000e+03,
       3.521400e+04, 2.000000e+00, 4.900000e+01, 2.944300e+04,
       1.641600e+04, 2.810000e+02, 1.713000e+03, 6.815500e+04,
       1.952000e+04, 6.060000e+02, 5.000000e+01, 2.456000e+03,
       1.180000e+03, 4.300000e+01, 1.132360e+05, 2.230000e+02,
       2.490000e+02, 2.800000e+01, 1.110800e+04, 2.500000e+01,
       1.310000e+02, 4.251000e+03, 1.244000e+03, 2.630000e+02,
       3.870000e+02, 3.867600e+04, 2.467900e+04, 3.700000e+03,
       1.368000e+03, 3.161800e+04, 4.810000e+02, 6.767000e+03,
       2.000000e+00, 1.442000e+03, 1.122000e+03, 1.437700e+04,
       8.700000e+01, 4.100000e+01, 1.642000e+03, 4.400000e+01,
       6.350000e+02, 8.705500e+04, 6.100000e+01, 5.756000e+06,
       8.253200e+04, 9.000000e+02, 1.900000e+03, 8.000000e+02,
       1.442000e+05, 2.000000e+03, 1.500000e+03, 3.000000e+02,
       1.000000e+02, 3.000000e+02, 9.900000e+03, 8.440000e+04,
       2.000000e+02, 1.000000e+02, 2.775100e+06, 6.000000e+02])

In [62]:
x

array([[0.000e+00, 4.270e+02, 2.000e+03, 1.000e+00, 2.000e+00, 1.254e+03],
       [0.000e+00, 4.270e+02, 2.000e+03, 1.000e+00, 7.400e+01, 2.000e+00],
       [0.000e+00, 4.270e+02, 2.000e+03, 1.000e+00, 9.500e+01, 1.020e+02],
       ...,
       [1.000e+00, 1.220e+02, 1.997e+03, 1.000e+00, 1.020e+02, 4.000e+02],
       [1.000e+00, 1.220e+02, 1.997e+03, 1.000e+00, 1.060e+02, 2.960e+04],
       [1.000e+00, 1.220e+02, 1.997e+03, 1.000e+00, 1.070e+02, 1.300e+03]])

In [63]:
x.shape

(1000, 6)

In [64]:
y.shape

(1000,)

In [65]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=588)
x_train

array([[1.0000e+00, 2.4000e+01, 2.0050e+03, 1.0000e+00, 3.0000e+00,
        3.5013e+04],
       [1.0000e+00, 2.4000e+01, 2.0080e+03, 2.0000e+00, 1.1900e+02,
        1.6400e+02],
       [1.0000e+00, 2.4000e+01, 2.0090e+03, 1.0000e+00, 4.8000e+01,
        4.1409e+04],
       ...,
       [1.0000e+00, 2.4000e+01, 2.0110e+03, 1.0000e+00, 5.9000e+01,
        2.5447e+04],
       [1.0000e+00, 2.4000e+01, 2.0100e+03, 1.0000e+00, 9.0000e+01,
        1.8760e+03],
       [1.0000e+00, 2.4000e+01, 2.0110e+03, 1.0000e+00, 1.2300e+02,
        5.0000e+01]])

In [66]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [67]:
y_pred=regressor.predict(x_test)
y_pred

array([-2.32161599e+05,  4.06296964e+06,  2.04097654e+06, -2.47993417e+06,
        1.34546782e+06, -4.38434100e+05, -2.98243856e+05,  5.76117458e+04,
        5.04293363e+05,  5.22378283e+06,  1.87477354e+06,  2.02085460e+06,
       -4.48523078e+05,  2.12031516e+06,  5.33965394e+05,  1.20505702e+05,
       -6.28633409e+05, -4.80671766e+05,  2.20116023e+06,  9.49276732e+05,
        1.85579314e+05,  4.95557592e+06, -1.29283941e+06, -2.47336505e+05,
       -1.00632286e+06,  5.28072940e+06, -6.92124694e+04, -9.90874313e+05,
        4.21230159e+05,  4.05952858e+05,  2.68363438e+06,  1.62746290e+06,
       -3.49996374e+05,  6.52287401e+05, -5.81491208e+05,  4.89408693e+05,
        8.69648689e+05,  8.07450025e+04,  2.67352282e+05,  5.31487952e+05,
        4.93013774e+05, -7.07694783e+05,  2.71302247e+06, -1.30445102e+05,
        6.60945331e+05,  4.89852680e+06, -1.26697273e+04,  9.07632297e+05,
       -3.55710383e+05, -4.49704408e+04,  2.92991020e+06, -6.09111767e+05,
        2.81618554e+05, -3.95137889e+05, -1.03342231e+06, -1.00985466e+06,
       -8.81888118e+05,  2.13883014e+05,  5.18131042e+06, -3.98526153e+05,
        1.27007175e+05,  3.37782479e+05, -8.31681105e+05,  2.38071436e+05,
       -3.70470315e+05,  3.99312683e+06,  1.05592742e+05, -3.37400777e+05,
        1.31963796e+06, -1.07098799e+05, -7.94403629e+05,  3.43597936e+05,
        2.08674955e+06,  5.83346066e+05,  3.75157294e+06,  2.00965299e+06,
        3.86563477e+04, -3.79303292e+05, -3.58919214e+05,  4.49201593e+05,
       -4.87663097e+05, -1.95748875e+05, -3.33412111e+04, -4.59782312e+05,
        1.82312242e+06,  6.36315334e+05,  2.43568844e+06, -3.86913943e+05,
       -1.01216891e+06, -8.10305683e+05, -3.18525757e+05, -5.83547358e+05,
       -2.96265986e+05,  1.30062020e+06, -7.43039837e+05, -8.11387782e+05,
        4.06707039e+06,  3.06525003e+05, -2.13347774e+06,  9.16703889e+05,
        4.27817415e+05,  1.73552676e+06,  2.06778168e+06,  2.28384403e+05,
       -4.86528699e+05,  3.76508709e+06,  4.25593734e+04, -2.64749112e+05,
        2.89160470e+05,  1.02511080e+06,  4.43653349e+05,  4.02305221e+06,
        3.87739030e+06,  4.98829352e+06,  8.16408788e+05,  5.74503232e+05,
       -1.77986634e+05,  9.10772121e+05,  9.96700801e+05,  6.34195369e+05,
        6.88347873e+05, -2.34061280e+04,  5.79964401e+05,  5.31154507e+06,
       -8.81817589e+04,  1.19959856e+05,  4.67397204e+04, -7.95719531e+05,
       -7.58699788e+05, -1.07282841e+06, -6.50041676e+05,  1.47523006e+05,
       -2.94628998e+05, -8.62140955e+05, -2.15225341e+05,  1.63918371e+05,
        5.09510015e+06,  4.23921295e+04,  5.21400110e+05,  5.45232751e+05,
       -5.40247804e+05,  3.99114342e+05, -5.90920011e+04, -2.92056278e+06,
       -4.40922535e+05,  4.94967086e+06,  4.56993927e+05,  1.61141350e+06,
        7.97432602e+05,  5.19172621e+04,  5.25298964e+05, -9.33884781e+05,
        4.05788882e+06,  2.63005686e+05,  1.05633139e+06, -1.69681098e+05,
       -6.61459762e+04,  2.66319200e+06, -3.38971112e+05,  2.85742266e+05,
       -2.62050597e+05,  5.17474897e+05,  5.13282982e+06, -9.50188375e+05,
       -9.39068754e+04, -5.99164386e+05, -3.18144265e+04,  1.90275974e+05,
        1.06315463e+06, -6.40432954e+05, -3.38882895e+05, -4.36003188e+05,
       -3.76165861e+05,  6.12470847e+05,  2.87098119e+05,  1.51349354e+06,
        5.05955418e+05,  4.30766524e+03,  3.76732092e+05,  1.61267853e+05,
        2.52290456e+06, -1.57523515e+06, -9.71971576e+05,  9.64333932e+05,
       -1.12330489e+06,  1.73729877e+06,  5.93464174e+05,  2.78369914e+06,
       -5.43906914e+04, -3.97479960e+05,  1.10719179e+05, -1.84239540e+04,
        9.26608496e+05,  2.16335018e+06,  2.07187627e+06, -2.44075265e+05,
        3.57974866e+05,  5.88017392e+05,  3.26776628e+04, -1.13501695e+06])

In [68]:
print("Train Accuracy:", regressor.score(x_train,y_train))
print("Test Accuracy:", regressor.score(x_test,y_pred))

Train Accuracy: 0.07720736994854815
Test Accuracy: 1.0